<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Visipoint QC Test Suite" verbose="2" parallel="false">
    <listeners>
        <listener class-name="Listeners.CustomListeners"/>
    </listeners>

    <test name="Login Tests">
        <classes>
            <class name="loginExcution.Login"/>
        </classes>
    </test>

    <test name="SignUp Tests">
        <classes>
            <class name="signupExcution.signUP"/>
        </classes>
    </test>
</suite>

